body{
    background: rgb(170,36,59);
background: linear-gradient(173deg, rgba(170,36,59,1) 0%, rgb(151, 6, 35) 50%, rgba(249,100,130,1) 100%);
}

*{
    margin: 0 auto;
    padding: 2%;
}
.centro{
    margin: 0 auto;
    padding-top: 0%;
    display: flex;
}

.button1{
    border: 1px solid ;
    border-radius: 1px 1px 1px 1px;
    padding-right:  0%;
}